.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
}

.intro {
  width: 80%;
}

.intro .title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--orange);
}

.intro ul {
  margin-left: 3rem;
}

.intro h1 {
  font-size: 2em;
}

.intro .images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: lightgray 1px solid;
  padding: 2.5rem;
}

.intro img {
  padding: 10px;
}

.filters {
  padding: 15px;
  width: 80%;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: #ede9e9;
  border-radius: 5px;
}

.geneFilter,
.phenotypeFilter {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.filterLabel {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
}

.phenotypeFilter {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.rangeFilter {
  width: 31%;
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  border-left: rgb(218, 211, 211) 1px solid;
}

.heatMap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  align-self: center;
}

/* Mobile */
@media (max-width: 768px) {
  .intro {
    width: 100%;
  }

  .intro .images {
    flex-direction: column;
  }

  .filters {
    flex-direction: column;
    width: 100%;
  }

  .geneFilter,
  .phenotypeFilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .rangeFilter {
    width: 100%;
    padding-left: 0;
    border-left: none;
    align-items: center;
  }

  .rangeFilter .filterLabel {
    align-self: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filters {
    flex-direction: column;
    width: 100%;
  }

  .geneFilter,
  .rangeFilter,
  .phenotypeFilter {
    width: 100%;
    margin-bottom: 10px;
  }

  .rangeFilter {
    padding-left: 0;
    border-left: none;
    align-items: center;
  }
  .rangeFilter .filterLabel {
    align-self: baseline;
  }
}
